[Unit]
Description=Run syslog
DefaultDependencies=no
After=local-fs.target
ConditionKernelCommandLine=|!sec_debug.enable=0
ConditionKernelCommandLine=|!sec_debug.enable_user=0

[Service]
Type=forking
ExecStart=/sbin/syslogd -b 5 -B 99
OOMScoreAdjust=-1000
Restart=always
RestartSec=0
SmackProcessLabel=syslogd

[Install]
WantedBy=basic.target
